node_modules/
.pnpm-store/

dist/
build/

pgdata/
*.sqlite
*.sqlite-journal

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs/
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*


/generated/prisma
/src/generated/prisma

.DS_Store
Thumbs.db
.vscode/
.idea/


/api_tests/
coverage/

docker-compose.yml